#service
{
    width: 100%;
    height: 100%;
}
#mainc
{
    width: 100%;
    height: 100%;
    padding: 0;
}
#productos
{  
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#productos a
{
    text-decoration: none !important;
    color: black;
}
.product-container
{
    position: relative;
    display: inline-block;
    max-width: 260px;
    min-width: 260px;
    margin: 0 auto;
    height: 380px;
    border: 1px solid black;
    background: white;
    text-align: center;
    -webkit-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.75);
}
.product-image-cn
{
    max-width: 200px;
    min-width: 200px;
    margin: 5px auto auto auto;
    height: 90px;
    border: 1px solid black;
    border-radius: 70px;
    text-align: center;
}
.product-image-cn img
{
    max-width: 100%;
    max-height: 100%;
}
.border-cn
{
    max-width: 230px;
    min-width: 230px;
    margin: 0 auto;
    height: 97%;
    border-left: 1px solid #b02f30;
    border-right: 1px solid #b02f30;
}
.product-descuento
{
    position: relative;
    left: 150px;
    margin: 5px 5px auto;
    width: 70px;
    height: 30px;
    background: #b02f30;
    border: 1px solid black;
    color: white;
}
.product-precio
{
    margin-left: 10px;
    text-align: left;
}
.product-details
{
    max-width: 210px;
    height: 100px;
    margin: 10px auto 10px 10px;
    text-align: justify;
}
.product-details p
{
    padding: 5px;
}
.product-button
{
    margin: 0 auto;
    text-align: center;
}
.general-checkbox
{
    width: 25px;
    height: 25px;  
}
.fajaImg 
{
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
}
.fajaUrl
{
    width: 100%;
    text-align: center;
}
.fajaUrl img
{
    max-width: 100%;
    max-height: 359px;
}
.fajaImg-detalle 
{
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
}
.fajaUrl-detalle 
{
    width: 100%;
    text-align: center;
}
.fajaUrl-detalle  img
{
    max-width: 100%;
    max-height: 350px;
}
#faja > .faja-footer
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    /*background-color: rgba(0,0,0,0.50);*/
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: white;
    text-align: center;
}
.faja-footer > .descripcion
{
   padding: 5px;
}
#faja-detalle > .precio-detalle
{
    background-color: black;
    float: right;
    width: 79px;
    height: 20px;
    padding: 3px;    
	font-size: 10px;
}
.precio-detalle
{
   margin: 0px -16px 5px 0px;
   color: white;	
}
#detalle
{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-top: 60px;
    margin-top: 30px;
    background-color: white;
}
.detalle-footer
{
    border-top: 1px solid #607d8b;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}
#productos-relacionados
{
    width: 100%;
	padding-top: 10px;
    background-color: #eee;	
	margin: 0 auto;
	text-align: center;
}
.imgPreview
{
    display: inline-block;
    width: 50%;
    height: auto;
    text-align: center;
}
.imgPreview img
{
    width: 60%;
    height: 50%;
    vertical-align: center;
}
.informacion
{
    float: right;
    right: 60px;
    width: 40%;
    text-align: left;
    padding: 20px 0px 20px 0px;
}
.informacion h1
{
    /*background-color: #F06292;*/
    font-size: 28px;
    padding: 5px 0px 5px 0px;
}
.informacion p
{
    text-align: left;
    padding: 5px 0px 5px 0px;
}
.detalle-footer
{
    border-top: 1px solid #607d8b;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}
.display-left
{
    position: relative;
    float: left;
    top: 240px;
    width: 30px;
    height: 50px;
    padding: 10px;
    background-color: #F06292;  
    border: none;
    -webkit-box-shadow: 3px 2px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 8px -2px rgba(0,0,0,0.75);
}
.display-left:hover
{
    background: #1e1e1e;
    color: white;
}
.display-right
{
    position: relative;
    float: right;
    top: 240px;
    width: 30px;
    height: 50px;
    padding: 10px;
    background-color: #F06292;  
    border: none;
     -webkit-box-shadow: -3px 1px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 1px 7px -1px rgba(0,0,0,0.75);
    box-shadow: -3px 1px 7px -1px rgba(0,0,0,0.75);
}
.display-right:hover
{
    background: #1e1e1e;
    color: white;
}
#admin
{
    width: 100%;
}
#admin img
{
    width: 60px;
    height: 65px;
}
#creaFaja
{
    width: 100%;
    height: 100%;
    background-color: white;  
    padding: 0px 0px 70px 0px;
}
.imgFaja
{
    width: 450px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #607d8b;
    border-top: 5px solid #607d8b; 
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;    
}
.imgFaja img
{
    width: 200px;
    height: 230px;
    text-align: center;
}
.faja
{
    width: 100%;
    height: 100%;
}
.fajad
{
    width: 100%;
    height: 50%;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border: 1px solid #607d8b;
    border-left: 5px solid #607d8b; 
}
.tajabutton
{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    float: right;
    text-align: center;
}
#editarProducto
{
    width: 80%;  
}
#crearFaja
{
    width: 80%; 
}
#error-alert
{
    width: 100%;    
    margin-top: 72px;
}
#lista
{
    width: 100%;
}
.modal-logo
{
    background: #212F3C;
    text-align: center;
    margin: auto;
}
.modal-logo img
{
    max-width: 106px; 
    max-height: 100px;
    text-align: center;
}
#sidebar
{
    width: 0px;
    height: 1000px;
    margin-top: 80px;
    float: left;
    text-align: left;
    background-color: white;
}
#sidebar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar li
{
    border-bottom: 1px solid #607d8b;
    text-decoration: none;
    text-align: center;
}
#sidebar a
{
    width: 100%;
    display: block;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: black;
}
#sidebar a:hover
{
    background-color: white;
}
.active
{
   background-color: white; 
}

#sidebar h1
{
   text-align: center;
   padding: 10px 0px 10px 0px;
   border-bottom: 1px solid #607d8b; 
}
.deshabilitado
{
    color: red;
}
.btn-success
{
    background-color: #F06292;
    color: black;
    border: none;
}
.btn-success:hover
{
    background-color: #F06292;
    -webkit-box-shadow: 0px 1px 25px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 25px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 25px -3px rgba(0,0,0,0.75);    
} 









